<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Sign Up</title>
</head>
<body>
    <h1 id="Artfolio-sign">Artfolio</h1>
    
<div class="div-container">
    <h2>Sign Up</h2>
    <h3>Create Your Artfolio Account!</h3>
    <form action="/auth/sign-up" method="POST">
        <p class="sign-inputs">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required>
        </p>
        <p class="sign-inputs">
            <label for="password">Password: </label>
            <input type="password" name="password" id="password" required>
        </p>
        <p class="sign-inputs">
            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" name="confirmPassword" id="confirmPassword">
        </p>
        <p>
            Already a member? 
            <a href="/auth/sign-in">
                Sign In
            </a>
        </p>
        <button type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>