<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>library</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All Your Works</h1>
    <% if (artworks.length) { %>
        <% artworks.forEach((artwork) => { %>
                <a href="/library/<%= artwork._id %>">
                    <p> <%= artwork.artwork %> || Title: <%= artwork.title %></p>
                </a>
        <% }) %>
    <% } %>
    <a href="/library/new">Add Works</a>
    <a href="/'library/edit">Edit Works</a>
</body>
</html>