<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/show.css" />
    <title>Edit Profile</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add Works!</h1>
    <form action="/library" method="POST">
        <div>
            <label for="artwork">Artwork Link: </label>
            <input type="text" name="artwork" id="artwork" required>

            <label for="title">Title: </label>
            <input type="text" name="title" id="title" required>
    
            <label for="medium">Medium: </label>
            <input type="text" name="medium" id="medium" required>
    
            <label for="date">Date: </label>
            <input type="date" name="date" id="date">
    
            <label for="size">Size: </label>
            <input type="text" name="size" id="size">

            <label for="genre">Genre: </label>
            <input type="text" name="genre" id="genre">
        </div>
        <label for="description">Description: </label>
        <textarea 
        name="description" 
        id="description"
        placeholder="Tell us about your process!"
        cols="20"
        rows="8"
        ></textarea>  
        <button type="submit">Submit</button>
    </form>
</body>
</html>