<nav>
    <% if (user) { %>
        <a id="logo">Artfolio</a>
        <a href="/sign-out"> Sign Out </a>
        <a href="/">Home </a>
        <a href="/profile">Profile </a>
    <% } else { %>
        <a href="/sign-in"> Sign In </a>
        <a href="/sign-up"> Sign Up </a>
    <% } %>
</nav>