<link rel="stylesheet" href="/stylesheets/partials.css" />
<nav id="navbar">
    <!-- <img id="logo"src="Image/openart-image_45DjVxQ__1728490553863_raw.jpg" alt="Artfolio Logo">  -->
    <h1 id="artfolio-nav"><img id="Logo" src="https://i.pinimg.com/736x/89/af/d8/89afd8561be382560ce9bb61408c55ba.jpg" alt=""> Artfolio</h1>
    <% if (user) { %>
        <div class="nav-links">
            <a class="homelink" href="/">Home </a>
            <a class="homelink" href="/profile">Profile </a>
            <a class="homelink" id="signoutlink"href="/auth/sign-out"> Sign Out </a>
        </div>
    <% } else { %>
        <div class="nav-links">
            <a id="signInLink" class="authlink" href="/auth/sign-in"> 
                Sign In 
            </a>
            <a id="signUpLink" class="authlink" href="/auth/sign-up"> 
                Sign Up 
            </a>
        </div>
    <% } %>
</nav>