<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arfolio</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Artfolio</h1>
    <p>The artists only portfolio</p>

    <div class="art-container">
        <% artworks.forEach((artwork) => { %>
            <div class="home-artwork">
                <img src="<%= artwork.artwork %>">
                <p><%= artwork.title%> </p>
            </div>
        <% }) %>
    </div>
</body>
</html>