<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Arfolio</title>
</head>
<%- include('./partials/_navbar.ejs') %>
<body>
   <Article id="home-container">
    <hr>
       <h2>Artfolio: The <em>Artist</em> portfolio</h2>
       <article class="art-container">
           <% artworks.forEach((artwork) => { %>
               <div class="home-artwork">
                <a class="artimage"href="/library/<%= artwork._id %>">
                    <img src="<%= artwork.artwork %>">
                    <div id="art-details">
                        <p> <%= artwork.title%></p>
                    </div>
                </a>
               </div>
               
           <% }) %>
       </article>
   </Article>
</body>
</html>
