<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arfolio</title>
</head>
<body>
    <h1>Artfolio</h1>
    <p>The artists only portfolio</p>
    <a> Sign In </a>
    <a> Sign Up </a>
    
</body>
</html>