/* Color Palette 
Background = #F0F8FF - White
Button Border = #A9B3CE - Light Grey
Important = #D64045 - Red
Notice Me = #318EFF - Blue
Default Font = #1B2021 - Black
*/

nav {
    display: flex;
    flex-direction: row;
    height: 6.5vw;
    max-width: 100vw;
    padding: .1rem .3rem;
    justify-content: space-between;
    align-items: center;
    /* background: rgba(237, 253, 255, 1); */
}

#Logo {
    height: 4rem;
    width: 4rem;
    padding: .2rem;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
}

#artfolio-nav {
    color: rgba(27, 32, 33, 1);
    font-size: 2rem;
}

.homelink {
    text-decoration: none;
    padding: .6rem;
    margin: 0 15px;
    color: #F0F8FF;
    font-weight: bold;
    background: #1B2021;
    border-radius: .4rem;
    border: 1.5px solid #A9B3CE;
}

.homelink:hover{
    background: #318EFF;
    color: #F0F8FF;
}

.authlink:hover{
    background: rgba(100, 224, 255, .4);
    color: darkblue;
}

.authlink {
    text-decoration: none;
    padding: 1rem;
    margin: 0 15px;
    color: cornflowerblue;
    font-weight: bold;
    background: rgba(0, 159, 255, 0.15);
    border-radius: .2rem;
    border: 1px solid rgba(27, 32, 33, .4);
}
