/* Color Palette 
Background = #F0F8FF - White
Button Border = #A9B3CE - Light Grey
Important = #FF585E - Red
Notice Me = #318EFF - Blue
Default Font = #1B2021 - Black
*/

/* GLOBALS */
html {
    height: 100vw;
}

h1 {
    color: #1B2021;
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-flow: column;
}

label {
    color: #1B2021;
    font-size: .9rem;
}

input,
textarea {
    border: 1.5px solid #A9B3CE ;
    border-radius: .6rem;
    padding: .4rem;
    margin: auto 0;
}

button {
    margin: .3rem auto;
    padding: .3rem 1rem;
    background: #1B2021;
    border-radius: .3rem;
    border: 1px solid #A9B3CE;
    color: #A9B3CE ;
}

button:hover {
    border: 2px solid #F0F8FF;
    color: #F0F8FF;
    background: #318EFF;
}

img {
    background-color: #1B2021;
    width: 23vw;
    height: 23vw;
    border-radius: 1rem;
    object-fit: contain;
}

/* PROFILE PAGE */

.aboutUser {
    display: flex;
    flex-flow: wrap;    
    justify-content: space-between;    
    margin: 0 1rem;
}

#bio {
    max-width: 35vw;
    max-height: auto;
}

#userHeader {
    height: 6rem;
    max-width: 100%;
    max-height: 10vw;
}

#display-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}
.profileButtons {
    text-decoration: none;
    padding: .6rem;
    margin: .8rem;
    color: #F0F8FF;
    font-weight: bold;
    background: #318EFF;
    border-radius: .4rem;
    border: 1.5px solid #1B2021;
    height: fit-content;
}
.profileButtons:hover {
    background-color: #1B2021;
}

#addWorks {
    height: 1rem;
}

#libraryBar {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 1rem
}
    

/* SHOW PAGE */

#shownArt {
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 50vw;
    width: auto;
    min-width: 20vw;
}


/* EDIT ABOUT PAGE */

#formcontainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 25vw ;
    height: 30vw;
    background-color: #f6e7e7; 
    padding: 1.5rem; 
    border: 1px solid black;
    border-radius: 10px;
    color: #1B2021; 
    font-weight: bold;
    background: #F0F8FF;
}

#editingheader {
    display: flex;
    justify-content: center;
}

#submitbtn {
    text-align: end;
    margin: .2rem   
}

#home-container {
    height: 100%;
    background-color: #F0F8FF ;
    /* display: flex; */

}
/* NEW ART PAGE */

#artDetails {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: .6rem;
    height: 100%

}
#artInfo {
    display: flex;
    justify-content: space-around;
}

#newForm {
    display: flex;
    justify-content: center;
}

#deleteArt {
    border: 1.5px solid #A9B3CE;
    color: #F0F8FF;
    background: #1B2021;
    font-size: .75rem;
}

#deleteArt:hover {
    border: 1.5px solid #f6e7e7;
    color: azure;
    background: #FF3227;
}

#editButton {
    color: azure;
    font-size: .76rem;
    margin: .2rem;
}

.handleButtons {
    display: flex;
    justify-content: flex-end;
}

#arthandler {
    display: flex;
    flex-flow: column;
    margin: 1rem ;
    padding: 10px;
    width: 40vw;
    height: 50vw;
    background: #A9B3CE;
    border-radius: 1rem;
}

#shownArt {
    border-radius: 1rem;
    margin: auto;
    height: fit-content;

}

