/* Color Palette 
Background = #F0F8FF - White
Button Border = #A9B3CE - Light Grey
Important = #D64045 - Red
Notice Me = #318EFF - Blue
Default Font = #1B2021 - Black
*/

/* GLOBALS */

html {
    height: 100%;
}

h1 {
    color: #1B2021;
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
}

label {
    color: #1B2021;
    font-size: .9rem;
}

input,
textarea {
    border: 1.5px solid #A9B3CE ;
    border-radius: .6rem;
    padding: .4rem;
    margin: auto 0;
}

button {
    margin: .3rem auto;
    padding: .3rem 1rem;
    background: #1B2021;
    border-radius: 1rem;
    border: 1px solid #A9B3CE;
    color: #A9B3CE ;
}

button:hover{
    color: #F0F8FF;
    background: #318EFF;
}

/* MAIN HOME PAGE */
#home-container {
    height: 100%;
    background-color: #F0F8FF ;
}

.art-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    justify-items: flex-start;
    /* background-color: wheat; */
    /* gap: auto; */
}
.home-artwork {
    display: flex;
    flex-flow: column;
    width: 25%;
    height: 25%;
    object-fit: contain;
}
.artimage{
    display: flex;
    flex-flow: column;
}

img {
    background-color: #1B2021;
    width: 23vw;
    height: 23vw;
    border-radius: 1rem;
    object-fit: contain;
}


#art-details {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    color: #1B2021;
    text-decoration: none;
    margin: 0 auto;
}


/* PROFILE PAGE */

#Folio {
    position: fixed;
}

.aboutUser {
    display: flex;
    flex-flow: wrap;    
    justify-content: center;    
    gap: 1vw;
}

.about {
    font-size: 1rem;
}

.bio-container {
    display: flex;
    justify-content: flex-end;
}

#bio {
    border: 1px solid #1B2021;
    max-width: 30vw;
    max-height: auto;
}

#userHeader {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}


/* SHOW PAGE */

#artInfo {
    display: flex;
}

#artDetails {
    display: flex;
    flex-flow: column;
}

#shownArt {
    display: flex;
    justify-content: center;
    height: auto;
    max-height: 50vw;
    width: auto;
    min-width: 20vw;
}


/* EDIT ABOUT PAGE */

#editcontainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 25vw ;
    height: 30vw;
    background-color: #f6e7e7; 
    padding: 1.8rem; 
    border: 1px solid black;
    border-radius: 10px;
    color: #1B2021; 
    font-weight: bold;
    background: #F0F8FF;
}

#editingheader {
    display: flex;
    justify-content: center;
}